body{
	margin: 0px !important;
	overflow: hidden;
}

html, body, canvas {
  width:  100% !important;
  height: 100% !important;
  margin: 0px;
}


#top, #bottom, #left, #right {
	background: #fff;
	position: fixed;
	z-index: 100;
}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
	}
	#left { left: 0; }
	#right { right: 0; }
	
#top, #bottom {
	left: 0; right: 0;
	height: 15px;
	}
	#top { top: 0; }
	#bottom { bottom: 0; }
::-webkit-scrollbar { 
    display: none; 
}


@font-face{
	font-family: "Gotham";
	src: url("../assets/fonts/Gotham-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}	



.info{
	position: absolute;
	bottom: -50px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	height: 100px;
	cursor: pointer;
    -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
}

p, a, p a{
	/*-webkit-font-smoothing: antialiased;*/
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	line-height: 20px;
	font-family: "Gotham";
}

a{
	color: #ababab !important;;
}
a:hover{
	color: white !important;
}

.logoContainer{
	position: relative;
	left: 50%;
	width: 20px;
	margin-left: 0px;
	margin-bottom: 20px;
	overflow: hidden;
}

.info, .logoContainer {
    list-style: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
 
}
.info:hover {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.logoContainer{
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.info:hover .logoContainer{
    width: 120px;
    margin-left: -60px;
}

.info:hover{
    bottom: 20px;    
    /* Safari and Chrome */
}

