@font-face {
	font-family: 'arbiter';
	src:url('../assets/fonts/arbiter.eot?-46diu1');
	src:url('../assets/fonts/arbiter.eot?#iefix-46diu1') format('embedded-opentype'),
		url('../assets/fonts/arbiter.woff?-46diu1') format('woff'),
		url('../assets/fonts/arbiter.ttf?-46diu1') format('truetype'),
		url('../assets/fonts/arbiter.svg?-46diu1#arbiter') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'arbiter';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: white;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.icon-a:before {
	content: "\20";
}
.icon-b:before {
	content: "\e601";
}
.icon-e:before {
	content: "\e602";
}
.icon-i:before {
	content: "\e603";
}
.icon-r:before {
	content: "\e604";
}
.icon-t:before {
	content: "\e605";
}
